@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700;800;900&family=Roboto:wght@100;400;500;700;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
      
body{
    background-color: #E3F2FD;
}

.select-menu{
 width: 380px;
 margin: 150px auto;
}

.select-menu .select-btn{
display: flex;
height: 55px;
background-color: #fff;
padding: 20px;
font-size: 18px;
font-weight: 400;
border-radius: 8px;
align-items: center;
justify-content: space-between;
cursor: pointer;
box-shadow: 0 0 5px rgba(0,0,0,0.1);
position: relative;
} 

.select-btn i{
    font-size: 25px;
    transition: transform .2s;
}

.select-menu.active .select-btn i{
  transform: rotate(-180deg);
 
}


.options{
position: fixed;
/* padding: 20px; */
/* margin-top: 10px; */
border-radius: 8px;
background-color: #fff;
box-shadow: 0 0 3px rgba(0,0,0,0.1);

/*  
ye dusra tarika hai .
display: none;
max-height: 0px;
overflow: hidden; */
transition:all max-height .9s;
width: 380px;
max-height: 0px ;
overflow: hidden;
transition: max-height .5s;
z-index: 22;


}


.select-menu.active .options{
    display: block;
    max-height: 400px;
}


.options .option{
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background-color: #fff;
    
}


.options .option:hover{
    background-color: #f0f6fb;
}

.option i{
    opacity: 25px;
    margin-right: 12px;
}

.option .option-text{
    font-size: 18px;
    color: #333;
}


























































































































