body {
  font-family: "Helvetica Neue", sans-serif;
  background-color: #f0f0f3;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
 
.filter-container {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  text-align: center;
}

label {
  font-size: 1.2em;
  color: #333;
}

#priceRange {
  width: 80%;
  margin-top: 10px;
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

#priceRange:hover {
  opacity: 1;
}


#priceRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #ff5722;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#priceRange::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #ff5722;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#priceValue {
  font-size: 1.2em;
  color: #ff5722;
  margin-left: 10px;
  display: inline-block;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  width: 200px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.product:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product p {
  margin: 0;
  font-size: 1.1em;
  color: #333;
}

.product .price {
  margin-top: 10px;
  font-size: 1.2em;
  color: #ff5722;
}
